<html>
    <head>
        <link rel="stylesheet" href="/static/navbar.css">
    </head>
    <body>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'films' %}">Films</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register_user' %}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'showings' %}">Showings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'screens' %}">Screens</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'clubs' %}">Clubs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'club_representatives' %}">Club Representatives</a>
            </li>
        </ul>
    </body>
</html>

{% block content %} {% endblock %}