{% extends 'UWEFlix/navbar.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block content %}

<html>
  <head>
    <link rel="stylesheet" href="/static/films.css">
  </head>
  <body>
    <h1>Screens</h1>
      {% for screen in screens %}
        <div class="film-box">
          <div>
            <li>Screen: {{ screen.screen_number }}</li>
            <li>Capacity: {{ screen.capacity }}</li>
          </div>
        </div>
          <br><br>
      {% endfor %}
  </body>
</html>
{% endblock %}