{% extends 'UWEFlix/navbar.html' %}
{% comment %} {% load static %} {% endcomment %}

{% block content %}

<html>
  <head>
    <link rel="stylesheet" href="/static/films.css">
  </head>
  <body>
    <h1>Screens</h1>

    <a href="{% url 'add_screen' %}" class="btn btn-primary add-film-btn">Add Screen</a>
    <br><br>

      {% for screen in screens %}
        <div class="film-box">
          <div>
            <li>Screen: {{ screen.screen_number }}</li>
            <li>Capacity: {{ screen.capacity }}</li>

            <br><br>
            {% comment %} {% url 'modify_film' film.id %} {% endcomment %}
            <a href="#" class="btn btn-secondary modify-film-btn">Modify Screen Details</a>
            {% comment %} {% url 'delete_film' film.id %} {% endcomment %}
            <a href="#" class="btn btn-danger delete-film-btn" onclick="return confirm('Are you sure you want to delete this film?');">Delete Screen</a>

          </div>
        </div>
          <br><br>
      {% endfor %}
  </body>
</html>
{% endblock %}